.Acctable::-webkit-scrollbar {
    /* width: 20px;
    height: auto; */
    width: 10px;
    border-radius: 10px;
}
.Acctable::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.Acctable::-webkit-scrollbar-thumb {
    background: #355E3B; /* Color of the scrollbar thumb */
    border-radius: 10px;
}
.Acctable::-webkit-scrollbar-thumb:hover {
    background: #29492e;
}